/*Estilo de la página*/

body { 

    font-family: Arial, Helvetica, sans-serif;
}

* {

    box-sizing: border-box;
}

/*Estilo de la página*/
.nav ul {
    list-style: none;
}

.nav div {

    background-color: black;
    border: 1px solid black;
    width: 100px;
    height: 10%;
}

.nav a {

    text-decoration: none;
    color:black;
    font-family: 'Roboto';
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    height: 30px;

}

a:hover {
    background-color: yellowgreen;
    color: white;
}

.entradilla {

    background-color: white;
    border: 1px, solid, black;
    padding: 10px;
}

.entradilla h1 {

    background-color: white;
    font-weight: bolder;
    

}

.entradilla p {

        font-size: 16px;

}

.pd {

    text-align: center;

}