
body{
    background-color:bisque;
}

* {
    box-sizing: border-box;
}

.títuto {

    border: 1px;
    border: black;
    background-color: grey;

}

p, div {

    text-align: center;
    size: 20px;
}

.contenido {

    border: black;
    border: 1px;
    background-color: grey;
}

h1 {
    color: red;
    text-align: center;
    background-image: url(../img/cx-picture-100608993-primary-idge_.webp)
    ;
}

.Índice {
    text-align: center;
    background-color: grey;

}

a {

    background-color: tomato;

    color:white;

    overflow: hidden;

    text-decoration: none;

}

.descarga {

    text-align: center;

    padding: 10px;

    size: 80px;
}

ul {

    list-style-type: circle;


}

img {
    size: 30px;
    overflow: hidden;
    
}